<html>
 <head>
  <title>洗濯機利用状況</title>
</head>
 <body>
      <div id="wrapper">
      <header>
	<p class="title">ランドリー状況確認システム</p>
      </header>
     <div class="pagetitle">
       <h2 class="textcenter"> 洗濯機利用状況 </h2>
     </div>
<div class="center">
<h1>水量</h1>
<br>
<div class=notice>
<h2 class="yohaku">1.水量を選択してください</h2>
<div class="chkbox">
<input type="checkbox" id="chkbox1" name="chkbox03" value="1" ><label for="chkbox1">27l</label>
<input type="checkbox" id="chkbox2" name="chkbox03" value="2" ><label for="chkbox2">35l</label>
<input type="checkbox" id="chkbox3" name="chkbox03" value="3" ><label for="chkbox3">44l</label>
</div>

</div>
<div1>
<input type="button" onclick="location.href='/gaibu_comp'" value="次へ" >
<input type="button" onclick="location.href='/gaibu_touroku'" value="戻る" >
</div1>
</div>
</body>
</html>

