<html>
 <head>
  <title>洗濯機利用状況</title>
</head>
 <body>
      <div id="wrapper">
      <header>
	<p class="title">ランドリー状況確認システム</p>
      </header>
     <div class="pagetitle">
       <h2 class="textcenter"> 洗濯機利用状況 </h2>
     </div>
<div class="center">
<h1>登録が完了しました</h1>
<br>

</div>
<div1>
<input type="button" onclick="location.href='/gaibu2' "value="完了" >
</div1>
</div>
</body>
</html>
