<html>
 <head>
  <title>洗濯機利用状況</title>
</head>
 <body>
      <div id="wrapper">
      <header>
	<div class="user">ユーザID:gaibu
	<input type="button" onclick="location.href='/'" value="ログアウト" >
	<!--<%= button_to "ログアウト", sessions_path  %>-->
	</div>
	<p class="title">ランドリー状況確認システム(タブレット端末)</p>
      </header>
     <div class="pagetitle">
       <h2 class="textcenter"> 洗濯機利用状況 </h2>
     </div>
<div class="center">
<h1>ログイン</h1>
<br>
<table border="0">
<tr>
<td align="right"><b>ユーザ名</b></td>
<td><input type="text" name="name" size="30" maxlength="4"></td>
</tr>
<tr>
<td align="rigth"><b>パスワード</b></td>
<td><input type="password" name="pass"size="30" maxlength="4"></td>
</tr>
</table>
</div>
<div1>
<input type="button" onclick="location.href='/gaibu_water'" value="次へ" >
<input type="button" onclick="location.href='/gaibu'" value="戻る" >
</div1>
</div>
</body>
</html>

