<!DOCTYPE HTML>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>ランドリー状況確認システム（仮）</title>
    <link rel="stylesheet" href="naiyoukakunin.css">
  </head>
  
  <body>
    <div id="wrapper">
      <header>
	<div class="user">ユーザID:kanri
	<input type="button" onclick="location.href='/'" value="ログアウト" >
	<!--<%= button_to "ログアウト", sessions_path  %>-->
	</div>
	<div class="notice"><div class="mail"><%= image_tag 'mail_whi.gif' %></div></div>
	<p class="title">ランドリー状況確認システム</p>
      </header>
      <div class="pagetitle">
	<h1 class="textcenter"> 一覧・編集</h1>
      </div>

<h2><font color="red">削除を完了しました</font></h2>

<div1 class="a">
<input type="button" onclick="location.href='kanri_itiranhensyu.html.erb'" value="戻る" class="bton2">
</div1>


</title>
</body>
</html>

