<!DOCTYPE HTML>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>ランドリー状況確認システム（仮）</title>
    <link rel="stylesheet" href="naiyoukakunin.css">
  </head>
  
  <body>
    <div id="wrapper">
      <header>
	<div class="user">ユーザID:<%= current_user.user_id %>
	<input type="button" onclick="location.href='/'" value="ログアウト" >
	<!--<%= button_to "ログアウト", sessions_path  %>-->
	</div>
	<div class="notice"><div class="mail"><%= image_tag 'mail_whi.gif' %></div></div>
	<p class="title">ランドリー状況確認システム</p>
      </header>
      <div class="pagetitle">
	<h1 class="textcenter"> 検索結果</h1>
      </div>
<%= image_tag 'kutusita.png', :size => '400x300' %>

<h2>種類: 靴下</h2>
<h2>色: 青色系</h2>

<h2><font color="red">管理者への申告を完了しました</font></h2>

<div1 class="a">
<input type="button" onclick="location.href='/sessions'" value="戻る" class="bton"></div1>

</title>
</body>
</html>
